<a href="https://colab.research.google.com/github/biswa-13/Python-Tutorials/blob/master/Python_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Hi All,<br/>
I am<br/>
Name: BiswaRanjan Samal<br/>
Email: bichhubiswa@gmail.com<br/>


---

Welcome to my Python Basic Course Tutorial, in this tutorial we will learn

*   Python Installation

*   Python Editors

*   Hello World in Python

*   Python Coding Guidelines

*   Basic Data Types

*   Accepting User Inputs

*   Operators
*   Decision Making

*   Loop Statements

**[ Python Installation ]** <br/>


---

In this tutorial we are going to use Python V3  and Windows as Operating System, For installation of python visit to [Python Official Website](https://www.python.org/downloads/) and select a version according to your Operating System, download it and install it in your machine. [Remember to add  the Python installation path in the  Path](https://colab.research.google.com/drive/1GseCd5ImqN9aN_CbOtssNxksb5VZrLf-#scrollTo=8ptN8S9gWLda&line=9&uniqifier=1)
    
Ex : *C:\Users\HP\AppData\Local\Programs\Python\Python36\Scripts*

To Check if it's correctly installed or not, open Command Prompt and enter below command, it will show the version details.

Syntax: *python -V* <br/>
Output: Python 3.6.5

**How to set Python in Windows Path**<br/>
-> Right click on My Computer<br/>
-> Select Properties<br/>
-> Select Advance System Settings<br/>
-> Select Advanced Tab<br/>
-> Select Enviornment Variables<br/>
-> Select Path then click on Edit <br/>
-> Enter your Python installation directory path<br/>
     Ex : *C:\Users\HP\AppData\Local\Programs\Python\Python36\Scripts*<br/>
-> ok

**[ Python Editors ]** <br/>


---

-> Default editor for python must be installed with the basic installation of the python you can **search for it by typing IDLE or Python**  in windows application search window. <br/>
-> **Jet Brains PyCharm** is also a very good editor for the Python coding/practice, which you can get from [PyCharm Community Edition](https://www.jetbrains.com/pycharm/download/#section=windows) <br/>
-> If you don't want to install any editor or even if you don't want to install the python too in you system, there is another preferred option for it, which [Google Colab Python Notebook](https://colab.research.google.com/notebooks/welcome.ipynb) Benefits of using it is you can practice Python online **no need of worried for installing packages and consumption of your system memories as well here you have options for selecting CPU/GPU** for running your Python programming.<br/>

**[ Hello World in Python ]**<br/>


---

-> I wish all the above steps/settings must have done and now Python must be working fine.<br/>
-> So being a programmer we should begin our journey with a traditional Hello world program.
-> Open the installed Editor and type below code and execute it

In [0]:
Ex: print("Hello World")

Hello World

**[ Python Coding Guidelines ]**<br/>


---

-> As of now we are done with the basic Hello world Python program so going forward being a programmer we must learn the guidelines, assumptions, DO's and DONT'S. <br\>
==> **File Extension** <br/>
-> The extension of the python file is  ***.py**.<br/>
==> **Naming Convention**<br/>
-> Variables/function names  should start with either of alphabets within [A-Z], [a-z], _, and could be followed by other alphabets and numbers except [@, %, $] . <br/>
-> Also you should avoid the use of reserved words. <br/>
==>**Case Sensitiveness**<br/>
-> Python is a strict Case Sensitive language which means "Biswa" and "biswa" will be treated as different. <br/>
==>**Lines and Indentations**<br/>
-> In Python there is no curly braces for grouping of codes, python has its own way of grouping the codes which says a group of code is denoted by line indentation and it is tightly enforced. <br/>
-> The line indentation can be customized but codes of the same group must have the same indentation.<br\>

Ex:

In [0]:
if 1:
  print(1)
else:
  print(2)

1

==>**Comments and Quotes**<br/>
-> Python accepts single quotes(' '), double quotes(" "), triple quotes(''' ''') for diclaring Strings.<br/>
-> The ending quote must match with the starting quote, and triple quote can be used for denoting multi line strings.<br/>
-> # symbol is used before the string/line you want to comment.

Ex:

In [0]:
# Practicing Comments and Quotes
name = 'Banchha13'
hobby = "listening to musics"
address = '''Hi Reader,
How are you ??
'''
print(name)
print(hobby)
#Printing the multiline string , this line is going to be ignored
print(address)

Banchha13
listening to musics
Hi Reader,
How are you ??

**[ Basic Data Types ]**<br/>

---
-> Python has below data types

*   Numbers
*   String
*   List
*    Tuples
*   Dictionary

==> **Numbers** <br/>
-> There 4 types of numerical which are supported by the Python 

*   int : These are numerical values which can be postive/negative whole numbers.<br/>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ex : val1 = 13125

*   Long : These are numerical values which are longer than  the normal int values and could not be stored with int. The numerical values must be followed by a 'L' . <br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ex: val2 = 7205287890L<br/>

*   Float : These are the numerical values separated with the a deciamal point. <br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ex: val2 = 1312.5<br/>

*   Complex : These are the numerical values in form of a+bj.<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ex: val2 = 1312.5j<br/>

**Below are some Hands On Exercise for Practice**

In [0]:
a = 10
b = 1.21
c = 535633629843535633629843535633629843535633629843
d = 45+6j

# printing variables
print(a);print(b);print(c);print(d)

10
1.21
535633629843535633629843535633629843535633629843
(45+6j)

In [0]:
print(a,b)
# demo of del statement for deleting variables
del a,b

print(a) #It will throw an error as we have already removed a

10 1.21

NameError: ignored

In [0]:
## Conversion in Numbers

# int(val) will comnvert a given type to it's Integer representation
a = 12; b = 13.12; c = 9999999999999999999999999999999; d= 45_9j
print(int(b))

# long(val) will convert a given value to it's Long representation
print(int(b))

# float(val) will convert a given value to it's Floating point representation
print(int(b))

#complex(val) will convert the given value to it's complex representation
print(complex(a))

#complex(val, jValue)
print(complex(a,2))

13
13
13
(12+0j)
(12+2j)

==> **Strings**<br/>
-> Python accepts single quotes(' '), double quotes(" "), triple quotes(''' ''') for diclaring Strings.<br/>
-> The ending quote must match with the starting quote, and triple quote can be used for denoting multi line strings.<br/>
**Below are some Hands On Exercise for Practice**

In [0]:
# Practicing Strings 
str0 = "Banchha"
print("\a")
print(str0 * 2)
print(str0 + str0)
print(str0[2])
print(str0[1:3])
print('h' in str0)
print('h' not in str0)
print("\\Only one slace will be printed")
#String merging/concatenation
str1 = "Let's Play"
print(str0+str1)
print(str0+" "+str1)
#String lower() will convert the entire string to lower case
print(str0.lower())
#String upper() will convert the entire string to upper case
print(str0.upper())
# title() is used for camel casing the given string
str3 = "hey what are you doing"
print(str3.title())


BanchhaBanchha
BanchhaBanchha
n
an
True
False
\Only one slace will be printed
BanchhaLet's Play
Banchha Let's Play
banchha
BANCHHA
Hey What Are You Doing

==>**List**<br/>
-> Lists are group of elements enclosed within **[ ]** and separated **,** not necesarly of same type.<br/>
-> List elements can be accessible using the index number both in forward direction with positve number and also in revese direction with negative index number.<br/>
Ex: demoList = ["aba", True, 1234, "b"]<br/>
**Below are some Hands On Exercise for Practice**

In [0]:
# Practicing Lists

# Diclairing a List of animals
animals = ["cow", "donkey", 123, "zebra", True]
#Accessing elemnts in forward direction with positive index number
print(animals[1])
print(animals[2])
#Accessing elemnts in reverse direction with negative index number
print(animals[-1])
print(animals[-2])
#Accessing a range of elements from the list
print(animals[1:3])
print(animals[-3:-1])
print(animals[0:]) # it will print all the elements starting from the given index to the end element
print(animals[:3]) # it will print all the elements starting from the 0th index upto the given index
#Modefying the elements of the list
animals[0] = "monkey"
print(animals)
animals[-1] = False
print(animals)
#Deleting elements from the list
del(animals[0]) # Deleting single element
print(animals)
del(animals[1:3]) # Deleting range of elements 
print(animals)

#Adding elements to the list
animals.append("horse")
print(animals)

#Sorting the list
digits = [10,1,5,9,3] # Ascending order
digits.sort()
print(digits)
digits.sort(reverse=True) # Descending order
print(digits)

# Reversing a list
digits = [10,1,5,9,3]
digits.reverse()
print(digits)

#length of the list
print(len(digits))

# Finding min in the list of numebrs
print(min(digits))

# Finding max in the list of numebrs
print(max(digits))

# Adding all the elements in a list of numbers
print(sum(digits))

donkey
123
True
zebra
['donkey', 123]
[123, 'zebra']
['cow', 'donkey', 123, 'zebra', True]
['cow', 'donkey', 123]
['monkey', 'donkey', 123, 'zebra', True]
['monkey', 'donkey', 123, 'zebra', False]
['donkey', 123, 'zebra', False]
['donkey', False]
['donkey', False, 'horse']
[1, 3, 5, 9, 10]
[10, 9, 5, 3, 1]
[3, 9, 5, 1, 10]
5
1
10
28

==>**Tuples**<br/>
-> Tuples are the grouping/collection of elemnts with same type and it is immutable in nature, declaired using **( )** separated with **,**, the elements of the tuples can be accessible using the positive/negative index numebrs of the elements<br/>
Ex : (1,2,3)<br/>
-> Tuples can be changed only by overwriting it.<br/>
**Below are some Hands On Exercise for Practice**

In [17]:
# Practicing Tuples
 tpl = (1,2,3)
 print(tpl)
 print(tpl[0])
 tpl = (9,4,5)
 print(tpl)
 tpl[0] = 2 # It will through Error, beacuse tuples can be changed only by over writting it
 del tpl[0] # It will through Error

print(tpl)

(1, 2, 3)
1
(9, 4, 5)

TypeError: ignored

**==> Dictionary**<br/>
-> Dictionary can be used to group/store different types elements which should be enclosed with curly brackets **{ } **, Unlike List and Tuples in Dictionary we have to store data as key-value pair and should access the data using the key.<br/>
Ex : {"name":"Banchha", "age":28}<br/>
**Below are some Hands On Exercise for Practice**

In [5]:
# Practicing Dictionary

# Declairing a Dictionary

details = {"name":"Banchha", "age":28}

# Printing  Dictionary
print(details)
print(details["name"])

# Adding item to the Dictionary
details["City"] = "Bhubaeswar"
print(details)
#Ediiting value in dictionary
details["City"] = "BBSR"
print(details)
#Deleting value from the dictionary
del details["City"]
print(details)

{'name': 'Banchha', 'age': 28}
Banchha
{'name': 'Banchha', 'age': 28, 'City': 'Bhubaeswar'}
{'name': 'Banchha', 'age': 28, 'City': 'BBSR'}
{'name': 'Banchha', 'age': 28}

**[Accepting User Inputs From Console]**<br/>


---


-> We can use the **input()** for accepting user inputs or to prompt the user for giving input.<br/>
Ex: name = input("Enter Your Name ?")<br/>
**Below are some Hands On Exercise for Practice**

In [7]:
# Practicing input()
name = input("Please Enter Your Name ?")
age = input("Yopur Age Please ?")
print("Welcome,"+name+" Good to know your age is"+age)

Please Enter Your Name ?Biswa
Yopur Age Please ?28
Welcome,Biswa Good to know your age is28

**[Operators]**<br/>


---


-> Various types of operators availble iwth Python are<br/>


*   Arithmatic Operator

*   Comparision Operator

*   Logical Operator
*   Assignment Operator


*   Membership Operator


*   Arithmatic Operator

*   Bitwise Operator <br/>

**==>  Arithmatic Operator**<br/>
-> Arithmatic operators are **<pre>{ +, -, *, / ,%, //, ** </pre>**} <br/>

** Below are some Hands On Exercise for Practice**

In [3]:
# + Addition
a = 10
b = 20
print(a + b)

# - Substratction
print(b - a)

# * Mulitplication
print(a * b)

# / Division
print(b / a)

# % Modulus
print(a % b)

# ** Exponent
print(a ** 2)

# // Floor Division
print(9 // 4)

30
10
200
2.0
10
100
2

**==> Comparision Operator**<br/>
-> Comparision Opeartors are **{ ==, !=, <, >, <=, >= }** <br/>
** Below are some Hands On Exercise for Practice**

In [4]:

a = 10
b = 30
# == Double Equals To
print(a == b)

# != Not Equals To
print(a != b)

# < Less Than
print(a < b)

# > Greater Than
print(a > b)

# <= Less Than Equal To
print(a <= b)

# >= Greater Than Equal To
print(a >= b)

False
True
True
False
True
False

**==>  Assignment Operator**<br/>
-> Assignment Operators are ** { =, +=, -=, *=, /=, %=, **=, //=  }** <br/>
**Below are some Hands On Exercise for Practice**

In [13]:
# = Assign Operator 
a = int(10)

# += Add and assign back
a += 3
print (a)

# -= Sustract and assign back
a -= 1
print(a)

# *= Multiply and assign back
a *= 3
print(a)

# /= Divide and assign back
a /= 3
print(a)

# **= Do the exponential and assign back
a **= 2
print(a)

# //= Double floor the value and assign back
a //= 3
print(a)

13
12
36
12.0
144.0
48.0

**==>  BitWise Operator**<br/>
-> BitWise Operators are ** { &, |, ^, ~, <<, >> }** <br/>
**Below are some Hands On Exercise for Practice**

In [20]:
a = 1011
b = 1101

# $ Binary And
print(a & b)

# | Binary Or
print(a | b)

# ^ Binary Xor
print(a ^ b)

# ` Compliment
print(~a)

# << Left Shift Operator
print(a << 2)

# >> Right Shift Operator
print(a >> 2)

65
2047
1982
-1012
4044
252

**==>  Logical Operator**<br/>
-> BitWise Operators are ** { or, and not }** <br/>
**Below are some Hands On Exercise for Practice**

In [25]:
a = True
b = False
# and
print(a and b)

# or 
print(a or b)

# not
print(not b)

False
True
True

**==>  Membership Operator**<br/>
-> Membership Operators are ** { in, not in }** <br/>
**Below are some Hands On Exercise for Practice**

In [29]:
pets = ["dog", "birds"]

# in if an element is present in a list or not
print("dog" in pets)

# not in checks if an element is not present in a list
print("dog" not in pets)

True
False

**==>  Identity Operator**<br/>
-> Identity Operators are ** { is, is not }** <br/>
**Below are some Hands On Exercise for Practice**

In [31]:
a = 10
b = 10

# is
print(a is b)

# is not
print(a is not b)

True
False

**[  Decision Making ]**


---

-> Decision making helps to execute block of code based on some conditions it also provides facility to decide which statement block sholud be executed based upon the condition.
-> In python there are 3 types of conditional statements are there such as **if, if else, Nested If**. <br/>
**Below are some Hands On Exercise for Practice**

In [36]:
# if example
x = 10
if(x == 10):
  print(10)

# if else example
if(x > 10):
  print(" X is Greater Than 10")
else:
  print("X is Lesser Than 10")
  
# if elif else example
if(x >5 and x < 10):
  print(" X is Greater Than 5 but Lesser than 10")
elif(x > 10 and x < 15):
  print(" X is Greater Than 10 but Lesser than 15")
else:
  print("Failed to predict X value")

10
X is Lesser Than 10
Failed to predict X value

**[LOOPS]**<br/>
-> Loops are used to perform certain operations iteratively until ceratin condition satisfies.<br/>
-> In Python two primery Loops are **For, While**.<br/>



**==> While**<br/>
-> While loop iterates the statements until the given condition is true.<br/>
Syntax: <br/>
    While(condition):<br/>
     &nbsp;&nbsp;&nbsp;your Statements<br/>
**Below are some Hands On Exercise for Practice**

In [40]:
# Practicing While Loop

#Printing a Multiplication Table
num = input("Input a number for printing the Mulitplication Table ->")
count = 0
while(count < 10):
  count += 1
  result = int(num)*count
  print(str(num) +"*"+ str(count)+"="+str(result))
  #print(int(num)*count)

Input a number for printing the Mulitplication Table ->2
2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
2*10=20

In [41]:
# Stopping While loop with some input condition
# Below is a program which will accepts all the inputs from the user and append it to a variable until the user has not entered "bye"
inpt = ""
rslt = ""
while(inpt != "bye"):
  inpt = input("Enter a string ?")
  rslt += inpt
print("Output Is ->\n"+rslt)

Enter a string ?hi
Enter a string ?how are you ??
Enter a string ?I am good.
Enter a string ?bye
Output Is ->
hihow are you ??I am good.bye

In [0]:
# For Loop with list

animals = ["Rhino", "zebra", "monkey", "dog", "cat"]

for animal in animals:
  print("I have seen -- "+animal)
  
#For with a list range
for animal in animals[1:3]:
  print(animal)

I have seen -- Rhino
I have seen -- zebra
I have seen -- monkey
I have seen -- dog
I have seen -- cat
zebra
monkey